@import url("https://fonts.googleapis.com/css?family=Outfit:400,700");

html {
    font-size: 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', san-serif;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* centering card on page with help from chatpgt */

html, body {
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1000px) {

    html, body {
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .list-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 

        row-gap: 20px;
        column-gap: 20px;
    }

    /* centering last grid item with help with chatgpt */
    .list-grid > :last-child {
        grid-column: 2/3;
    }

}

@media (max-width: 999px) {

    .list-grid {
        display: grid;
        grid-template-columns: 1fr; 

        row-gap: 20px;
        column-gap: 20px;
    }

    html, body {
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

}



.card-bg {
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    padding: 14px 14px 40px 14px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;

    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.051);
}

.card-img {
 width: 288px;
 height: 288px;
 border-radius: 10px;
}

.text-wrapper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    width: 288px;
    max-width: 288px;
}

.card-text-bold {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.4em;
}

.card-text-body {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}